[Unit]
Description=Enable SR-IOV virtual functions

[Service]
Type=oneshot
ExecStart=/bin/sh -c "echo {{numbervfs}} > /sys/bus/pci/devices/{{pci_address}}/sriov_numvfs"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
